 <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
         />
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
         />
         <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
         <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="style.css">
        <title> On Mantra </title>
    </head>
    <body data-spy="scroll" data-target="#navbarNav" data-offset="50">

        
        <div class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a href="index.html" class="navbar-brand">Om Mantra </a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class ="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a style="text-decoration: none" href="/" class="nav-link smoothScroll">Home</a>    
                </li>
                        <li class="nav-item">
                            <a href="#aboutid" class="nav-link smoothScroll">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#galleryid" class="nav-link smoothScroll">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a href="#classesid" class="nav-link smoothScroll">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="#ourteamid" class="nav-link smoothScroll">Our team</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contactid" class="nav-link smoothScroll">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>











        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.js"></script>
        <script src="script.js"></script>