<div class="container-fluid mt-5 about-style" id="ourteamid" >
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">Our Team</h1>
          </div>
          </div>
          </div>
        
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="images/hu5.jpg" alt="Jane" style="width:100%" >
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/hu2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="images/hu3.jpg" alt="John" style="width:100%" height="243px">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="images/hu4.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
